.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    height: fit-content;
}

img {
    height:100px;
}

.infosContainer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.scoreContainer {
    display: flex; 
    justify-content: space-evenly;
    width: 300px;
}