.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    margin-top: 60px;
}

.btn {
    height: fit-content;
}

img {
    height:100px;
}

.infosContainer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.scoreContainer {
    display: flex; 
    justify-content: space-evenly;
    width: 300px;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

.rules {
    margin-top: 0;
    text-align: center;
}